{% extends 'frontend/base.html' %}

{% load static %}

{% block css %}{% endblock %}

{% block main %}

<div class="container p-2 mw-600px">
  <div class="card mt-4 bg-light Regular shadow">
    <div class="card-header bg-dark page-header">
      <h2 class="d-block text-center">Zorex</h2>
    </div>
    <div class="card-body p-3">
      <form method="POST" class="row g-3">{% csrf_token %}
        <h5>Please Enter your Password</h5>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="old_password" autofocus autocapitalize="none"
            autocomplete="password" maxlength="80" required id="id_old_password">
          <label class="py-2 px-4" for="id_new_password1">Old Password</label>
        </div>
        <h5>Please Enter a New Password</h5>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="new_password1" autofocus autocapitalize="none"
            autocomplete="new-password" maxlength="80" required id="id_new_password1">
          <label class="py-2 px-4" for="id_new_password1">New Password</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" name="new_password2" autofocus autocapitalize="none"
            autocomplete="new-password" maxlength="80" required id="id_new_password2">
          <label class="py-2 px-4" for="id_new_password2">Confirm Password</label>
        </div>
        <div class="col-12 d-block text-center">
          <button type="submit" class="btn btn-primary">Change my password</button>
          <button type="button" class="btn btn-dark" onclick="window.history.back();">Back</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
{% block script %}
<script>
  {% if form.errors %}
  {% for field in form %}

  {% for error in field.errors %}
  showMessage("alert-error", "{{ error|escape }}")
  {% endfor %}

  {% endfor %}
  {% endif %}
</script>
{% endblock %}