{% extends 'frontend/base.html' %}

{% load static %}

{% block css %}{% endblock %}

{% block main %}

<div class="container p-2 mw-600px">
    <div class="card mt-4 bg-light Regular shadow">
        <div class="card-header bg-dark page-header">
            <h2 class="d-block text-center">Password Reset Form</h2>
        </div>
        <div class="card-body p-3">                   
            <form method="POST" class="row g-3">{% csrf_token %}
                <div>
					<br>Forgotten your password?<br><br>Please enter your email address below, and we’ll email you instructions for setting up a new one:
				</div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" autofocus autocapitalize="none" autocomplete="email" maxlength="80" required id="id_email">
                    <label for="id_email">Email address</label>
                </div>
                <div class="col-12 text-center my-2">
                <button type="submit" class="btn btn-primary">Reset My Password</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}