{% extends 'frontend/base.html' %}
{% load static %}

{% block description %}{% endblock %}
{% block title %}Zorex 404 Page Not Found{% endblock %}

{% block main %}

<div class="container">
    <div class="mobilecard m-auto">
        <div class="card shadow bg-light" style="margin-top: 30%;">
            <h5 class="text-center card-header">Information Message</h5>
            <div class="card-body py-5 text-center">
                <span class="h3">Error 404<br>Page Not Found</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}
