{% extends 'frontend/base.html' %}
{% load static %}

{% block description %}{% endblock %}
{% block title %}{% endblock %}

{% block main %}

<div class="container mt-3 p-0">
    <div class="card m-2">
        <div class="card-header text-center bg-dark page-header">
            <span class="h2">Privacy Policy</span>
        </div>
        <div class="card-body">
            <p>Personal information refers to information we have about you that reveals or can reasonably be used to determine your identity, which may include, but is not limited to, your name, address, telephone number, email address, photograph, your Business name, Business ABN, Business Address.
                In general, Zorex "Owned, Designed and Hosted BY RM Telecom Pty Ltd" and team/members, will collect personal information directly from customers.<br></p>
            <ul><h4>We will collect personal information from you when:</h4>
                <li>you fill in any type of form; including but not limitetd to</li>
                <li>self signup form;</li>
                <li>add account form;</li>
                <li>register a business account</li>
                <li>email us;</li>
                <li>ask us to contact you after visiting our website; or</li>
                <li>have contact with us in person.</li>
            </ul>
            <p>The term "us" in each of the preceding clauses refers to our team/members.<br>
            We keep all your personal information stored electronically, including your Customers information.<br>
            We do not disclose your personal information with organisations outside the Zorex "RM Telecom" unless you give us your permission, unless sharing is otherwise needed or authorised by law, or unless it is required on a temporary basis.<br>
            Information privacy complaints (Privacy Complaint) should be made directly to Zorex "RM Telecom Pty Ltd" within 30 Days of the alleged breach occurring.<br>
            Zorex "RM Telecom" is committed to keeping your trust by protecting and securing your personal information.<br>
            We use appropriate measures to protect personal information from unauthorised disclosure, loss, misuse, or alteration.<br>
            </p>
        
        </div>
    </div>
</div>

{% endblock %}