{% extends 'frontend/base.html' %}
{% load static %}

{% block description %}Zorex Terms and Conditions{% endblock %}
{% block title %}Zorex Terms & Conditions{% endblock %}

{% block main %}
<div class="container mt-3 p-0">
    <div class="card m-2">
        <div class="card-header text-center bg-dark page-header">
            <span class="h2">Terms and Conditions</span>
        </div>
        <div class="card-body"><br>
    <p>Zorex refers to RM Telecom Pty Ltd, ("RMTelecom.com.au", "RM Telecom", "zorex.com.au", "the Company," "we," or "us,") provides certain websites, including the websites available at the domain name 
        www.zorex.com.au & www.rmtelecom.com.au (a "Site") and certain services made available to registered users of the Sites ("Services"). This zorex.com.au User Agreement 
        is the legal agreement ("Agreement") between you and zorex.com.au governing your use of the services we provide. Please read this Agreement carefully. 
        zorex.com.au is willing to provide the Services to you only on the condition that you accept all of the terms and conditions contained in this Agreement. 
        You accept the terms and conditions of this Agreement by registering for and using the Services. If you are unwilling to accept this Agreement, 
        do not use zorex.com.au and its Services.</p>
    <p>The Terms and Conditions is a contract between you and us that governs the use of the zorex.com.au Services. Your registration to use the 
        zorex.com.au Services or the use of the zorex.com.au Services constitutes your acceptance to these Terms and Conditions.</p>
    <p>zorex.com.au may modify these Terms and Conditions from time to time (including change of rates for using our services). You can obtain a copy by 
        viewing our Terms & Conditions link on our website.</p>

    <h5>DESCRIPTION OF SERVICES</h5>
    <p>Subject to your compliance with our terms and conditions, zorex.com.au will provide the Services after you have successfully registered into our website and Accepted the Terms and conditions</p>

    <h5>INVOICES</h5>
    <p>We provide invoices to all of our Customers, we require payment after registering an account or after the trial period has come to an end.</p>


    <h5>PRICING</h5>
    <p>Our company reserves the right to offer discounts or change the subscription amount charged to customers at any given time.</p>
    <p>Our pricing structure is outlined on the home screen if you aren't logged in, otherwise <a href="{% url 'subscribe' %}">click here</a>.</p>
    
    <p>Service Eligibility</p>
    <p>zorex.com.au reserves the right to terminate your service and refuse to provide you with any products or services without prior warnings.</p>

    <p>Electronic Communications</p>
    <p>When you visit the Site or send emails to us, you are communicating with us electronically. By doing so You consent to receive communications from us 
        electronically. We will communicate with you by email or by posting notices on the Site. You agree that all agreements, notices, disclosures 
        and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>

    <p>You also agree to</p>
    <p>Provide true, accurate, current and complete information about yourself as prompted by zorex.com.au's registration process (such information being the 
        "Registration Data")<br>If you provide any information that is untrue, inaccurate, incomplete, or not current or if zorex.com.au has reasonable 
        grounds to suspect that such information is untrue, inaccurate, and not current or not in accordance with our Terms and Conditions, 
        zorex.com.au has the right to indefinitely suspend or terminate your access to the Site</p>

    <p>Credit Card Details</p>
    <p>You agree, understand and confirm that the credit card details provided by you for paying of services on zorex.com.au will be correct and 
        accurate and you shall not use the credit card which is not lawfully owned by you, i.e. in a credit card transaction, you must use your own 
        credit card. You further agree and undertake to provide the correct and valid credit card details to zorex.com.au Further the said 
        information will not be utilised and shared by zorex.com.au with any of the third parties unless required for fraud verifications or by law, 
        regulation or court order. zorex.com.au will not be liable for any credit card fraud. The liability for use of a card fraudulently will 
        be on you and the onus to 'prove otherwise' shall be exclusively on you.</p>

    <p>Fraudulent and/or Declined Transactions</p>
    <p>zorex.com.au reserves the right to recover the cost of goods, collection charges and lawyer’s fees from persons using the Site fraudulently.<br>
        zorex.com.au reserves the right to initiate legal proceedings against such persons for fraudulent use of the Site and any other unlawful 
        act or acts or omissions in breach of these terms and conditions.</p>
    
    <h5>Cancellation and Refund Policy</h5>
    <p>Cancellation by the Customer</p>
    <p>Cancellations can be requested at any time should the customer call or e-mail to give 1 hour prior notice for any service. However, if in the 
        case we have made prior purchases specifically for your job such as parts for installation or repair and would be considered outside our normal 
        day-to-day consumables as part of your job, zorex.com.au reserves the right to collect the full payment of product or goods should our suppliers 
        not offer refund and an invoice will be e-mailed for payment</p>

    <p>Cancellation by zorex.com.au</p>
    <p>Please note that there may be certain orders that we are unable to accept and must cancel. We reserve the right, at our sole discretion, to refuse 
        or cancel any order for any reason. Some situations that may result in your order being cancelled include limitations on quantities available for 
        purchase, inaccuracies or errors in product or pricing information or quotes, or problems identified by our credit and fraud avoidance department. 
        We may also require additional verifications or information before accepting any order. We will contact you if all or any portion of your order is 
        cancelled or if additional information is required to accept your order. If your order is cancelled after your credit card has been charged, 
        the said amount will be reversed back in your Card Account. Refund can sometimes take up to 31 days to take effect.</p>
    
    <p>Returns & Refund Policy</p>
    <p>In continuation of the above mentioned Cancellation Policy, we will only provide refund of goods where required under Australian consumer law and 
        for all services we provide including a truck roll or call out fee, and a service or job cannot be completed for any reason whatsoever our company 
        RM Telecom Pty Ltd will charge a minimum truck roll fee of $99 inc GST to cover any costs travelling to and from your premises.</p>
    
    <p>Third Party Contractor Engagement</p>
    <p>RM Telecom reserves the right to appoint fully licensed and insured telecommunication contractors to perform work or services listed on our website. 
        We do our best to ensure all contractors have met specific requirements to provide our customers a good service and overall experience.</p>
    
    <p>Modification of Terms & Conditions of Service</p>
    <p>RM Telecom may at any time modify the Terms & Conditions of Use of the site without any prior notification to you. You can access the latest version 
        of the User Agreement at any given time on zorex.com.au , You should regularly review the Terms & Conditions on zorex.com.au . In the event 
        the modified Terms & Conditions is not acceptable to you, you should discontinue using the service. However, if you continue to use the service you 
        shall be deemed to have agreed to accept and abide by the modified Terms & Conditions of Use of this site.</p>

    <p>All reviews, comments, feedback, postcards, suggestions, ideas, and other submissions disclosed, submitted or offered to zorex.com.au on or by this 
        Site or otherwise disclosed, submitted or offered in connection with your use of this Site (collectively, the "Comments") shall be and remain 
        zorex.com.au property. Such disclosure, submission or offer of any Comments shall constitute an assignment to zorex.com.au of all worldwide rights, 
        titles and interests in all copyrights and other intellectual properties in the Comments. Thus, zorex.com.au owns exclusively all such rights, 
        titles and interests and shall not be limited in any way in its use, commercial or otherwise, of any Comments. zorex.com.au will be entitled to use, 
        reproduce, disclose, modify, adapt, create derivative works from, publish, display and distribute any Comments you submit for any purpose whatsoever, 
        without restriction and without compensating you in any way. zorex.com.au is and shall be under no obligation (1) to maintain any Comments in confidence; 
        (2) to pay you any compensation for any Comments; or (3) to respond to any Comments. You agree that any Comments submitted by you to the Site will not 
        violate this policy or any right of any third party, including copyright, trademark, privacy or other personal or proprietary right(s), and will not 
        cause injury to any person or entity. You further agree that no Comments submitted by you to the Site will be or contain libellous or otherwise 
        unlawful, threatening, abusive or obscene material, or contain software viruses, political campaigning, commercial solicitation, chain letters, 
        mass mailings or any form of "spam".</p>

    <p>zorex.com.au does not regularly review posted Comments, but does reserve the right (but not the obligation) to monitor and edit or remove any 
        Comments submitted to the Site. You grant zorex.com.au the right to use the name that you submit in connection with any Comments. You agree not 
        to use a false email address, impersonate any person or entity, or otherwise mislead as to the origin of any Comments you submit. You are and shall 
        remain solely responsible for the content of any Comments you make and you agree to indemnify zorex.com.au and its affiliates for all claims 
        resulting from any Comments you submit. zorex.com.au and its affiliates take no responsibility and assume no liability for any Comments submitted 
        by you or any third party.</p>

    <p>Objectionable Material</p>
    <p>You understand that by using this Site or any services provided on the Site, you may encounter Content that may be deemed by some to be offensive, 
        indecent, or objectionable, which Content may or may not be identified as such. You agree to use the Site and any service at your sole risk and 
        that to the fullest extent permitted under applicable law, zorex.com.au and its affiliates shall have no liability to you for Content that may be 
        deemed offensive, indecent, or objectionable to you.</p>

    <p>Indemnity</p>
    <p>You agree to defend, indemnify and hold harmless zorex.com.au, its employees, directors, officers, agents and their successors and assigns from and 
        against any and all claims, liabilities, damages, losses, costs and expenses, including attorney's fees, caused by or arising out of claims based 
        upon your actions or inactions, which may result in any loss or liability to zorex.com.au or any third party including but not limited to breach of 
        any warranties, representations or undertakings or in relation to the non-fulfillment of any of your obligations under this User Agreement or 
        arising out of your violation of any applicable laws, regulations including but not limited to Intellectual Property Rights, payment of statutory 
        dues and taxes, claim of libel, defamation, violation of rights of privacy or publicity, loss of service by other subscribers and infringement of 
        intellectual property or other rights. This clause shall survive the expiry or termination of this User Agreement.</p>
    
    <p>Site Security</p>
    <p>You are prohibited from violating or attempting to violate the security of the Site, including, without limitation, (a) accessing data not intended 
        for you or logging onto a server or an account which you are not authorized to access; (b) attempting to probe, scan or test the vulnerability of a 
        system or network or to breach security or authentication measures without proper authorization; (c) attempting to interfere with service to any 
        other user, host or network, including, without limitation, via means of submitting a virus to the Site, overloading, "flooding," "spamming," 
        "mailbombing" or "crashing;" (d) sending unsolicited email, including promotions and/or advertising of products or services; or (e) forging any 
        TCP/IP packet header or any part of the header information in any email or newsgroup posting. Violations of system or network security may result 
        in civil or criminal liability. zorex.com.au will investigate occurrences that may involve such violations and may involve, and cooperate with, 
        law enforcement authorities in prosecuting users who are involved in such violations. You agree not to use any device, software or routine to 
        interfere or attempt to interfere with the proper working of this Site or any activity being conducted on this Site. You agree, further, not to 
        use or attempt to use any engine, software, tool, agent or other device or mechanism (including without limitation browsers, spiders, robots, 
        avatars or intelligent agents) to navigate or search this Site other than the search engine and search agents available from zorex.com.au on this 
        Site and other than generally available third party web browsers (e.g., Netscape Navigator, Microsoft Explorer).</p>

    <p>LIMITATIONS ON YOUR USE OF THE SERVICES</p>
    <p>You may not attempt, or authorize, encourage, or support others' attempts, to circumvent, reverse engineer, decrypt, break or otherwise alter or 
        interfere with the Service. You agree to advise zorex.com.au promptly of any such unauthorized use(s) or attempt(s). You acknowledge and agree 
        that the Services are for your personal use only. You acknowledge and agree that you may not copy, distribute, sell, resell, or exploit for any 
        commercial purposes any portion of the Services, or any products accessible through the Services. zorex.com.au is not liable for any claims, 
        actions, damages, or other liability incurred as a result of any unauthorized use of your account or the Services, and you agree to be fully 
        liable for any such unauthorized access.</p>

    <p>Entire Agreement</p>
    <p>If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty 
        disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed to be superseded by a valid, 
        enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect. 
        Unless otherwise specified herein, this agreement constitutes the entire agreement between you and zorex.com.au with respect to the zorex.com.au 
        sites/services and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between you and 
        zorex.com.au with respect to the zorex.com.au sites/services. zorex.com.au's failure to act with respect to a breach by you or others 
        does not waive its right to act with respect to subsequent or similar breaches.</p>
        <br>
        <br>
        <p>Company Details</p>
        <p>RM Telecom Pty Ltd<br>ABN: 68 166 474 586</p>
        
        </div>
    </div>

</div>
{% endblock %}


